html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body{
    height: 100%;
    background-color: black;
    position: relative;
}
.body{
    text-align: center;
}
.name{
    text-align: center;
    color: rgb(255, 0, 0);
}
.text{
    margin-left: 10px;
    color: goldenrod;
}
.budova{
    text-align: center;
    margin-bottom: 10px;
}
#budova_obraz{
    height: 0; 
    width: 90%; 
    border: none; 
    border-radius: 5px;
    transition: height 2s;
}
.closewindow{
    z-index: 1;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 0px;
    background-color: black;
    align-items: center;
    border: red solid 2px;
    box-shadow: inset 0 0 0 red, 2px 2px 10px red;
    transition-duration: 0.5s;
}
.closewindow:hover{
    background-color: red;
    box-shadow: none;
}
.header{
    text-align: left;
    border-radius: 0 0 10px 10px;
    margin: 0 0 20px 0;
    min-height: 70px;
    width: 100%;
    overflow: hidden;
    padding-top: 10px;
    background-color: darkred;
    border-bottom: red 3px solid;
}
.panel{
    border-radius: 10px 10px 0 0;
    min-height: 70px;
    width: 99%;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    padding-bottom: 10px;
    background-color: darkred;
    border-top: red 3px solid;
    display: inline-block;
    z-index: 2;
}
.panel_info {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-column-gap: 0px;
}
#pracuj{
    background-color: black;
    align-items: center;
    text-align: left;
    color: white;
    margin-left: 10px;
    border: red solid 2px;
    box-shadow: inset 0 0 0 red, 2px 2px 10px red;
    cursor: pointer;
    transition-duration: 0.5s;
}
#pracuj:hover{
    background-color: red;
    box-shadow: none;
}
.building_title{
    color: red;
    text-align: center;
}
div.buildthings{
    transition:all 0.5s; 
    -moz-transition:all 0.5s; 
    -webkit-transition:all 0.5s;
    cursor: pointer;
}
div.buildthings:hover{
    transform:scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform:scale(1.05);
}
.buildthings{
    list-style: none;
    padding: 20px;
    border: red solid 1px;
    margin-bottom:5px;
    background:white;
    box-shadow:inset 0 0 0 red, 5px 0 20px red;
    text-align: center;
}
.jobs{
    text-align: center;
    align-items: center;
    display: block;
    margin: auto;
}
#vydelky1{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-column-gap: 2px;
    animation-name: vydelky;
    animation-duration: 1s;
}
#vydelky2{
    grid-template-columns: repeat(3, 33%);
    grid-column-gap: 2px;
    display: none;
    animation-name: vydelky;
    animation-duration: 1s;
}
#vydelky3{
    grid-template-columns: repeat(3, 33%);
    grid-column-gap: 2px;
    display: none;
    animation-name: vydelky;
    animation-duration: 1s;
}
@keyframes vydelky {
    from {opacity: 0%;}
    to {opacity: 100%;}
}
#building{
    text-align: center;
    align-items: center;
    display: block;
}
#stavba1{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-column-gap: 2px;
    animation-name: vydelky;
    animation-duration: 1s;
}
#stavba2{
    grid-template-columns: repeat(3, 33%);
    grid-column-gap: 2px;
    display: none;
    animation-name: vydelky;
    animation-duration: 1s;
}
#stavba3{
    grid-template-columns: repeat(3, 33%);
    grid-column-gap: 2px;
    display: none;
    animation-name: vydelky;
    animation-duration: 1s;
}
#pracovnici{
    margin-bottom: 200px;
    text-align: center;
    align-items: center;
    display: block;
}
#pracovnici1{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-column-gap: 2px;
    animation-name: vydelky;
    animation-duration: 1s;
}
#btc_button{
    background-color: black;
    align-items: center;
    text-align: left;
    color: white;
    margin-left: 10px;
    border: red solid 2px;
    cursor: pointer;
    transition-duration: 0.5s;
}
#btc_button:hover{
    background-color: red;
}
#chyba_nedostupne, #prohra, #chybapenize {
    visibility: hidden;
    width: auto;
    height: auto;
    background-color: #000;
    color: #fff;
    right: 35%;
    left: 35%;
    bottom: auto;
    top: 43%;
    text-align: center;
    border-radius: 6px;
    padding: 8px 8px;
    position: fixed;
    z-index: 2;
    opacity: 85%;
}
#vyhra {
    visibility: hidden;
    width: auto;
    height: auto;
    background-color: #000;
    color: #fff;
    right: 23%;
    left: 23%;
    bottom: auto;
    top: 43%;
    text-align: center;
    border-radius: 6px;
    padding: 8px 8px;
    position: fixed;
    z-index: 2;
    opacity: 85%;
}
#chyba_nemuzestavet {
    visibility: visible;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 0px;
    padding: 8px 8px;
    z-index: 1;
    opacity: 70%;
    position: absolute;
}
#delnici_prekryti{
    position: relative;
    z-index: 1;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: red;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: darkred;
}
